{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}



<style type="text/css">
    .data {
/*        margin-left: 15px;*/
    }

    .data-box {
        background-color: #DEE0E2;
        padding: 15px;
/*        border: #005ea5;
        border-width: 5px;
        border-style: solid;*/
        margin-bottom: 15px;
        cursor: pointer;
    }

    .data-box:hover {
        background-color: #BFC1C3;
    }

    .data-item {
        display: block;
        line-height: 1;
    }

    .data-bar {
        background-color: white;
        padding-top: 5px;
    }

    .today {
        background-color: lightgray;
    }

    .seperator-bottom {
        padding-bottom: 5px;
        border-bottom: solid 1px #bfc1c3;
    }
</style>

<main id="content" role="main">

<h1 class="heading-large">
    Workflow Management
</h1>
<p>Last refreshed: Sometime today</p>
<button class="show button">Show all</button>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<div class="grid-row">
    <div class="column-one-half">
        <h2 class="heading-medium" style="float: left">Overview</h2>
    </div>
    <div class="column-one-half">
        <h2 class="heading-medium" style="float: right">Total work: 1957</h2>
    </div>
</div>

<div class="grid-row">

    <div class="column-one-quarter">
        <h2 class="heading-small">Start of today</h2>
        <div class="data-box">
            <div class="data">
                    <span class="data-item bold-xsmall">Total</span>
                    <span class="data-item bold-xlarge">238</span>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <span class="bold-xsmall">Available</span>
                        </td>
                        <td>
                            <span class="bold-xsmall">133</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Vol Change of Ownership
                        </td>
                        <td>
                            50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Volume register update
                        </td>
                        <td>
                            50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Actionable Deferral
                        </td>
                        <td>
                            33
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="bold-xsmall">Unavailable</span>
                        </td>
                        <td>
                            <span class="bold-xsmall">105</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Vol Change of Ownership
                        </td>
                        <td>
                            60
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Volume register update
                        </td>
                        <td>
                            40
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Deferred
                        </td>
                        <td>
                            33
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Actionable deferral
                        </td>
                        <td>
                            33
                        </td>
                    </tr>
                    <tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="column-one-quarter">
        <h2 class="heading-small">New today</h2>
        <div class="data-box">
            <div class="data">
                    <span class="data-item bold-xsmall">Total</span>
                    <span class="data-item bold-xlarge">438</span>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Volume register update
                        </td>
                        <td id='filtered-Volume register update'>
                            100
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Vol Change of Ownership
                        </td>
                        <td id="filtered-Vol Change of Ownership">
                            130
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Deferred
                        </td>
                        <td id="filtered-deferred">
                            208
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="column-one-quarter">
        <h2 class="heading-small">Available</h2>
        <div class="data-box">
            <div class="data">
                    <span class="data-item bold-xsmall">Total</span>
                    <span class="data-item bold-xlarge">772</span>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Volume register update
                        </td>
                        <td>
                            333
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Vol Change of Ownership
                        </td>
                        <td>
                            325
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Actionable deferral: Requisition
                        </td>
                        <td>
                            114
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="column-one-quarter">
        <h2 class="heading-small">Processed yesterday</h2>
        <div class="data-box">
            <div class="data">
                <span class="data-item bold-xsmall">Total</span>
                <span class="data-item bold-xlarge">619</span>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            Completed
                        </td>
                        <td>
                            487
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Returned
                        </td>
                        <td>
                            51
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Deferred
                        </td>
                        <td>
                            81
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

    <div class="grid-row seperator-bottom">

        <div class="column-one-quarter">
            <h2 class="heading-small">Processed today</h2>
            <div class="data-box">
                <div class="data">
                        <span class="data-item bold-xsmall">Total</span>
                        <span class="data-item bold-xlarge">272</span>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                Volume register update
                            </td>
                            <td>
                                73
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Vol Change of Ownership
                            </td>
                            <td>
                                95
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Deferred
                            </td>
                            <td>
                                104
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>


<!-- <h2 class="heading-medium">Today's work</h2>

<div class="grid-row seperator-bottom">
<div class="column-one-quarter">
        <h2 class="heading-small">Completed</h2>
        <div class="data-box">
            <div class="data">
                    <span class="data-item bold-xsmall">Total </span>
                    <span class="data-item bold-xlarge">234</span>
            </div>

            <table>
                <tbody>
                    <tr>
                        <td>
                            Volume register update
                        </td>
                        <td>
                            38
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Vol Change of Ownership
                        </td>
                        <td>
                            72
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Deferred
                        </td>
                        <td>
                            124
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="column-one-quarter">
        <h2 class="heading-small">Deferred</h2>
        <div class="data-box">
            <div class="data">
                <span class="data-item bold-xsmall">Total</span>
                <span class="data-item bold-xlarge">295</span>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Volume register update
                        </td>
                        <td>
                            161
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Vol Change of Ownership
                        </td>
                        <td>
                            120
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Deferred
                        </td>
                        <td>
                            14
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="column-one-quarter">
        <h2 class="heading-small">Returned</h2>
        <div class="data-box">
            <div class="data">
                    <span class="data-item bold-xsmall">Total</span>
                    <span class="data-item bold-xlarge">238</span>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Volume register update
                        </td>
                        <td>
                            100
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Vol Change of Ownership
                        </td>
                        <td>
                            50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Deferred
                        </td>
                        <td>
                            88
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<h2 class="heading-medium">Work now</h2>

<div class="grid-row seperator-bottom">
    <div class="column-one-quarter">
        <h2 class="heading-small">In workflow</h2>
        <div class="data-box">
            <div class="data">
                <span class="data-item bold-xsmall">Total</span>
                <span class="data-item bold-xlarge">1048</span>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Volume register update
                        </td>
                        <td>
                            532
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Vol Change of Ownership
                        </td>
                        <td>
                            328
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Deferred
                        </td>
                        <td>
                            188
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="column-one-quarter">
        <h2 class="heading-small">In progress</h2>
        <div class="data-box">
            <div class="data">
                    <span class="data-item bold-xsmall">Total</span>
                    <span class="data-item bold-xlarge">738</span>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Volume register update
                        </td>
                        <td>
                            331
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Vol Change of Ownership
                        </td>
                        <td>
                            219
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Deferred
                        </td>
                        <td>
                            188
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>

<h2 class="heading-medium">Caseworkers</h2>

<div class="grid-row">
    <div class="column-one-quarter">
        <h2 class="heading-small">Allocated</h2>
        <div class="data-box">
            <div class="data">
                <span class="data-item bold-xsmall">Total</span>
                <span class="data-item bold-xlarge">120</span>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Volume register update
                        </td>
                        <td>
                            40
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Vol Change of Ownership
                        </td>
                        <td>
                            50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Actionable deferrals
                        </td>
                        <td>
                            30
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div> -->


<script type="text/javascript">

    var show

    $(document).ready(function() {
        $('table').toggle(false)
        show = false
    })

    $('.data-box').click(function() {
        $(this).find('table').toggle()
    })

    $('.show').click(function() {
        if (show == true) {
            $('table').toggle(false)
            $('.show').text('Show all')
            show = false
        }
        else {
            $('table').toggle(true)
            $('.show').text('Hide all')
            show = true
        }
    })

</script>

<script>

//     function changeVals(total, Volume register update, Vol Change of Ownership, deferred, type) {
//         document.getElementById('filtered-total').innerHTML = total
//         document.getElementById('filtered-Volume register update').innerHTML = Volume register update
//         document.getElementById('filtered-Vol Change of Ownership').innerHTML = Vol Change of Ownership
//         document.getElementById('filtered-deferred').innerHTML = deferred

//         if (type == "New-today"){
//             title = 'New cases today'
//         }
//         else {
//             title = "Cases " + type.split('-').join(' ')
//         }

//         document.getElementById('types').innerHTML = title
//     }

//     var rads = document.forms['filterForm'].elements['radio-inline-group']

//     for (var i=0, len=rads.length; i<len; i++) {
//         rads[i].onclick = function() {
//             value = this.getAttribute('value')
//             switch (value) {
//             case 'New-today':
//                 changeVals(430, 200, 100, 130, value)
//                 break
//             case 'Available-now':
//                 changeVals(200, 50, 79, 71, value)
//                 break
//             case 'Processed-today':
//                 changeVals(978, 333, 369, 278, value)
//                 break
//             case 'Completed-today':
//                 changeVals(384, 100, 243, 45, value)
//                 break
//             case 'Deferred-today':
//                 changeVals(500, 213, 90, 197, value)
//                 break
//             case 'Returned-today':
//                 changeVals(94, 20, 38, 36, value)
//                 break
//             case 'In-progress-now':
//                 changeVals(637, 290, 89, 258, value)
//                 break
//             case 'In-workflow-now':
//                 changeVals(837, 340, 168, 329, value)
//                 break
//         }
//     }
// }

</script>

</main>

{% endblock %}
