{% extends "layout.html" %}

{% block page_title %}
  Cora Redirection
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="content-wrapper">
        <div class="grid-row">

            <div class="column-third">
                <div class="my-div">
                    <a class="fill-div" href="#"> Worklist </a>
                </div>
            </div>

            <div class="column-third" style="text-align:center">
                <div class="my-div">
                    <a class="fill-div" href="#"> MI Dashboard </a>
                </div>
            </div>

            <div class="column-third" style="text-align:right">
                <div class="my-div">
                    <a class="fill-div" href="#" target="_blank"> Report an Issue </a>
                </div>
            </div>

        </div>

        <div class="grid-row">

            <div class="column-third" style="text-align:center">
                <div class="my-div">
                    <a class="fill-div" href="search_obtain">Search</a>
                </div>
            </div>

        </div>
    </div>

</main>

{% endblock %}
