
           {% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style type="text/css">
.my-thing {
  max-height: 400px;
  overflow: scroll;
  border: 1px solid #bfc1c3;
  overflow-y: scroll; height: 101%;;
  box-shadow: inset -5px -12px 0px -5px rgba(130,130,130,0.5);

.my-thing-inner {
  padding: 30px;
}
</style>

<style>
.button-secondary {
 background-color: #dee0e2 ;
 position: relative;
 left:400px; top:-45px;
 display: -moz-inline-stack;
 display: inline-block;
 padding: .526315em .789473em .263157em;
 border: none;
 -webkit-border-radius: 0;
 -moz-border-radius: 0;
 border-radius: 0;
 -webkit-appearance: none;
 -webkit-box-shadow: 0 2px 0 #b5babe ;
 -moz-box-shadow: 0 2px 0 #b5babe ;
 box-shadow: 0 2px 0 #b5babe ;
 font-size: 1em;
 line-height: 1.25;
 text-decoration: none;
 -webkit-font-smoothing: antialiased;
 cursor: pointer;
 color: #0b0c0c ;
 padding: 0.5263157895em 0.7894736842em 0.2631578947em 0.7894736842em;
}
</style>

<style type="text/css">
.newflag {
  display: inline;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
position: relative;
top: -7px;
right:2px;
padding: 0 1px 0 0;
border: none;
font: normal 13px/1 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
color: red;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
-webkit-transform: rotateX(-30.939720937064457deg) rotateY(13.178029288008933deg)   ;
transform: rotateX(-30.939720937064457deg) rotateY(13.178029288008933deg)   ;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<main id="content" role="main">
  <div class="grid-row">


      <h1 class="heading-xlarge">My Worklist</h1>



  <div class="column-three-quarters">
      <table>
 <thead>
    <tr>
      <th>Title Number</th>
      <th>ABR</th>
      <th>Type</th>
      <th>Attachments</th>
      <th>  </th>
    </tr>
  </thead>


  <tbody>
    <tr>
      <td>DN1234</td>
      <td>A123ABC</td>
      <td>Dealing</td>
      <td><a href="#" onclick="window.open('j2-all', 'all', 'menubar=no,location=no,resizable=no,scrollbars=yes,status=no,height=680,width=940,centerscreen=yes,modal=yes,alwaysRaised=yes')">View all</a>

      <!--<br><a href="#" onclick="window.open('j203-list', 'list', 'menubar=no,location=no,resizable=no,scrollbars=yes,status=no,height=1050,width=800,centerscreen=yes,modal=yes,alwaysRaised=yes')">View list</a></td>
-->
<br><a href="j202-allocation-min.html">Close list</a></td>
      <td><a href="#" onclick="window.open('j2-genenq.html', 'ge', 'menubar=no,location=no,resizable=no,scrollbars=yes,status=no,height=680,width=980,centerscreen=yes,modal=yes,alwaysRaised=yes')">More info</a></td>
    </tr>
</tbody>
</table>


<h2 class="heading-medium">Attachments for DN1234</h2>
<button id="openSelected" class="button-secondary">Toggle viewed status</button>
<form class="my-thing" id="checkBoxForm">

<div class="my-thing-inner" id="my-thing-inner">
      <table>
  <thead>
    <tr>
    <th><!-- <input type="checkbox" onclick="toggle(this);" class="form-control" id="all-boxes">--></th>

    <th>Type</th>
      <th>Name</th>
      <th>Date and time</th>
      <th>Viewed</th>
      <th>  </th>
    </tr>
  </thead>


  <tbody>
    <fieldset id='checkboxes'>
      <tr>
        <td>  <input type="checkbox" class="form-control" id="full-name" > </td>
        <td>AP1 Application to change the register</td>
        <td><a href="#" onclick="window.open('j2-single?filename=ap1.pdf', 'all', 'menubar=no,location=no,resizable=no,scrollbars=yes,status=no,height=800,width=1000,centerscreen=yes,modal=yes,alwaysRaised=yes')">1 - Certified - AP1 Application to change the register.pdf</a></td>
        <td>08/07/2016 - 10:23:52</td>
        <td>Viewed</td>
      </tr>
      <tr>
        <td>  <input type="checkbox" class="form-control" id="full-name" > </td>
        <td>Charge</td>
        <td><a href="#" onclick="window.open('j2-single?filename=Mortgage_Deed.pdf', 'all', 'menubar=no,location=no,resizable=no,scrollbars=yes,status=no,height=700,width=1000,centerscreen=yes,modal=yes,alwaysRaised=yes')">2 - Certified by another - charge.pdf</a></td>
        <td>08/07/2016 - 10:23:52</td>
        <td>Viewed</td>
      </tr>
      <tr>
        <td>  <input type="checkbox" class="form-control" id="full-name" > </td>
        <td>Charge</td>
        <td>3 - Certified by another - charge.pdf </td>
        <td>08/07/2016 - 10:23:52</td>
        <td>Viewed</td>
      </tr>
      <thead>
        <tr>
          <th>Additional Attachments</th>
        </tr>
      </thead>
      <tr>
        <td>  <input type="checkbox" class="form-control" id="full-name" > </td>
        <td>RX1 Restriction</td>
        <td><div class="newflag">New</div><a href="#" onclick="window.open('j2-single?filename=Prototype_RX1.pdf', 'all', 'menubar=no,location=no,resizable=no,scrollbars=yes,status=no,height=700,width=1000,centerscreen=yes,modal=yes,alwaysRaised=yes')">4 - Certified - RX1 Restriction.pdf</a></td>
        <td>02/08/2016 - 14:27:31</td>
        <td>Unviewed</td>
      </tr>
      <tr>
        <td>  <input type="checkbox" class="form-control" id="full-name" > </td>
        <td>Evidence</td>
        <td><div class="newflag">New</div>5 - Certified - Evidence.pdf</td>
        <td>02/08/2016 - 14:27:31</td>
        <td>Unviewed</td>
      </tr>
      <tr>
        <td>  <input type="checkbox" class="form-control" id="full-name" > </td>
        <td>Requisition</td>
        <td><div class="newflag">New</div>6 - Not Certified - Requistion Reply.pdf</td>
        <td>02/08/2016 - 14:27:31</td>
        <td>Unviewed</td>
      </tr>
    </fieldset>
  </tbody>
  </table>
</div>
</form>
</div>

  <div class="column-two-thirds">
    <!--<p class="text">
          By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
        </p>
-->
    <br>
      <p>
        <a class="button" href="#" role="button">Open</a>
        <a class='secondary-action' href='#'>Return</a>
      </p>

    </div>
  </div>
</main>

<script>

$( document ).ready(function() {

      $("#openSelected").css('visibility', 'hidden');

      $('#checkboxes :input').each(function(index, element) {
        console.log("HERE")
        console.log($(this).val())
      })

    $('.form-control').change( function(){

      console.log("checked")

      var anyChecked = false;

      $('.form-control').each(function(index, element) {
        if ($(this).is(':checked')){
          anyChecked = true;
        }
      })

      if (anyChecked == false) {
        $("#openSelected").css('visibility', 'hidden');
      }
      else {
        $("#openSelected").css('visibility', 'visible');
      }

    });
  });

</script>


{% endblock %}
