{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style type="text/css">
  #global-header,
  #footer,
  #global-header-bar {
    display: none;
  }

  #content {
    padding: 30px;
  }
</style>

<main id="content" role="main">
  <ul>
    <li>long</li>
    <li>cat</li>
    <li>is</li>
    <li>long</li>
    <li>cat</li>
    <li>is</li>
    <li>long</li>
    <li>cat</li>
    <li>is</li>
    <li>long</li>
    <li>cat</li>
    <li>is</li>
    <li>long</li>
    <li>cat</li>
    <li>is</li>
    <li>long</li>
    <li>cat</li>
    <li>is</li>
    <li>long</li>
    <li>cat</li>
    <li>is</li>
    <li>long</li>
    <li>cat</li>
    <li>is</li>
    <li>long</li>
    <li>cat</li>
    <li>is</li>
    <li>long</li>
    <li>cat</li>
    <li>is</li>
    <li>long</li>
    <li>cat</li>
    <li>is</li>
    <li>long</li>
    <li>cat</li>
    <li>is</li>
    <li>long</li>
    <li>cat</li>
    <li>is</li>
    <li>long</li>
    <li>cat</li>
    <li>is</li>
    <li>long</li>
    <li>cat</li>
    <li>is</li>
  </ul>
</main>

{% endblock %}
