
           {% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script>
$( function() {
  $( "#accordion" ).accordion({
    collapsible: true
  });
} );
</script>


<main id="content" role="main">
  <div class="grid-row">


      <h1 class="heading-xlarge">My Worklist</h1>

  <div class="column-three-quarters">


      <table>
  <thead>
    <tr>
      <th>Title Number</th>
      <th>ABR</th>
      <th>Type</th>
      <th>Attachments</th>
      <th>&nbsp;</th>
      <th>  </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>DN1234</td>
      <td>A123ABC</td>
      <td>Dealing [VPR]</td>
      <td><a href="#" onclick="window.open('attachment-all', 'all', 'menubar=no,location=no,resizable=no,scrollbars=yes,status=no,height=680,width=940,centerscreen=yes,modal=yes,alwaysRaised=yes')">View all</a>

        <!--<br><a href="#" onclick="window.open('j203-list', 'list', 'menubar=no,location=no,resizable=no,scrollbars=yes,status=no,height=1050,width=800,centerscreen=yes,modal=yes,alwaysRaised=yes')">View list</a></td>
  -->
<!--  <br><a href="j202-allocation-max.html">View list</a></td>
      <td><a href="#" onclick="window.open('j2-genenq.html', 'ge', 'menubar=no,location=no,resizable=no,scrollbars=yes,status=no,height=777,width=980,centerscreen=yes,modal=yes,alwaysRaised=yes')">More info</a>
    -->
    </td>
    <td><a href="#" onclick="window.open('genenq.html', 'ge', 'menubar=no,location=no,resizable=no,scrollbars=yes,status=no,height=777,width=980,centerscreen=yes,modal=yes,alwaysRaised=yes')">More info</a></td>
    </tr>
</tbody>
</table>
</div>
<br><br>
    <div id="accordion">

      <h3>Customer details</h3>


<table>



    <tbody>
      <tr>
        <td>
          Name
        </td>
        <td>
        Lorem Ipsum
        </td>


      </tr>
      <tr>
        <td>
          Address
        </td>
        <td>
          22 Acacia Road <br>
          London <br>
          N1 4RT
        </td>

      </tr>
      <tr>
        <td>
          DX Address
        </td>
        <td>
          Lorem ipsum
        </td>

      </tr>
      <tr>
        <td>
          Reference
        </td>
        <td>
          Lorem ipsum
        </td>

      </tr>
      <tr>
        <td>
          Keynumber
        </td>
        <td>
          Lorem ipsum
        </td>
      </tr>
      <tr>
        <td>
          email:
        </td>
        <td>
          Lorem@ipsum.com
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>
  <div class="column-two-thirds">
    <!--<p class="text">
          By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
        </p>
-->
    <br>
      <p>
        <a class="button" href="#" role="button">Open</a>
        <a href='#' class='secondary-action'>Return</a>
      </p>



    </div>
  </div>
</main>





{% endblock %}
