{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Workflow</h1>


			<h2 class="heading-medium">Links</h2>
hhh
      <ul class="list list-bullet">
        <li><a href="http://www.sub31.com/lr/">Journey 1 - Obtain [AXURE]</a></li>


				<li><a href="j2-obtain.html">Journey 2 - Attachments</a></li>


			</ul>

      <h2 class="heading-medium">Resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
        <li><a href="/examples">Example pages and patterns</a></li>

        <li><a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
						Read the full documentation</a></li>

			</ul>

    </div>
  </div>
</main>

{% endblock %}
