{% extends "layout_unbranded.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<style type="text/css">
.subitem  {
font-size: 12px;
}
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Workflow</h1>


			<h2 class="heading-medium">Links</h2>

      <ul class="list list-bullet">
        <li><a href="http://www.sub31.com/lr/obtain/">Obtain [AXURE]</a></li>
        <li><a href="/attachments-1/obtain.html">Attachments [NODE]</a></li>
        <li><a href="http://www.sub31.com/lr/defer/#p=choose_journey&c=1">Defer v1 [AXURE]</a></li>
        <li><a href="/cust-details/obtain.html">Customer details [AXURE]</a></li>
<li><a href="/search/homepage_obtain">Home page + Search [NODE]</a></li>
<ul>
  <li><a href="http://bit.ly/searchwfdata" target="new"><p class="subitem">Search data</p></a>
  </li>
</ul>
        <li><a href="http://www.sub31.com/lr/defer-w-filter/#p=choose_journey&c=1">Defer v2 with filter [AXURE]</a></li>
        <li><a href="http://sub31.com/lr/defer-sprint12/#g=1&p=00-start&c=1">Defer scenarios [AXURE]</a></li>
        <li><a href="http://sub31.com/lr/error-pages/#g=1&p=00-start&c=1">Error page journeys [AXURE]</a></li>
        <li><a href="http://sub31.com/lr/work-item-status/#g=1&p=00-start&c=1">Work item status [AXURE]</a></li>
        <li><a href="http://sub31.com/lr/allocate">Allocate [MARVEL]</a></li>
        <li><a href="/MI/MI_screen-filter.html">MI (radio filters)</a></li>
        <li><a href="/MI/MI_screen-small-boxes.html">MI (smaller boxes)</a></li>
        <li><a href="/MI/MI_screen-wfm-v2.html">MI (WFM V2)</a></li>
        <li><a href="/MI/MI_screen-cascade.html">MI (Cascading boxes)</a></li>
        <li><a href="/MI/MI_screen-fran-proto.html">MI (Fran v1)</a></li>
        <li><a href="/MI/MI_screen-big-boxesA.html">MI (Coloured boxes option A)</a></li>
        <li><a href="/choose-categories/homepage_obtain.html">Work item categories</a></li>
			</ul>



      <h2 class="heading-medium">ZZZ</h2>

      <ul class="list list-bullet">

      	<li><a href="/attachments-0/obtain.html">Journey 2.0 - Attachments</a></li>

      </ul>

      <h2 class="heading-medium">Resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
        <li><a href="/examples">Example pages and patterns</a></li>

        <li><a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
						Read the full documentation</a></li>

			</ul>

    </div>
  </div>
</main>

{% endblock %}
