{% extends "layout_unbranded.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Workflow</h1>


			<h2 class="heading-medium">Links</h2>

      <ul class="list list-bullet">
        <li><a href="http://www.sub31.com/lr/obtain/">Journey 1 - Obtain [AXURE]</a></li>

        <li><a href="attachment-a-obtain.html">Journey 2.1 - Attachments</a></li>

        <li><a href="http://www.sub31.com/lr/defer/#p=choose_journey&c=1">Journey 3 - Defer</a></li>


			</ul>

      <h2 class="heading-medium">ZZZ</h2>

      <ul class="list list-bullet">

      	<li><a href="j201-obtain.html">Journey 2.0 - Attachments</a></li>

      </ul>


      <h2 class="heading-medium">Resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
        <li><a href="/examples">Example pages and patterns</a></li>

        <li><a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
						Read the full documentation</a></li>

			</ul>

    </div>
  </div>
</main>

{% endblock %}
