<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#dialog" ).dialog();
} );
</script>

<div id="dialog" title="Basic dialog">
<p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>


           {% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">


      <h1 class="heading-xlarge">My Worklist</h1>

      <p>
                   <a class="add button js-form-popup" data-form="donor" href="/lpa/54771805330/donor/add" role="button">Add donor details</a>
               </p>

  <div class="column-three-quarters">
      <table>
  <thead>
    <tr>
      <th>Title Number</th>
      <th>ABR</th>
      <th>Type</th>
      <th>Attachments</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>DN1234</td>
      <td>A123ABC</td>
      <td>Dealing</td>
      <td><a href="files/AP1">View all</a>
      <br>View list</td>
    </tr>
</tbody>
</table>
</div>
  <div class="column-two-thirds">
    <!--<p class="text">
          By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
        </p>
-->
    <br>
      <p>
        <a class="button button-start" href="#" role="button">Open ></a> Return
      </p>


    </div>
  </div>
</main>





{% endblock %}
