{% extends "layout_unbranded.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="grid-row">


    	<h2 class="heading-medium">Attachments for DN1234</h2>
<form>
      <table>
  <thead>
    <tr>
      <th><input type="checkbox" class="form-control" id="full-name"> </th>
      <th>Type</th>
      <th>Name</th>
      <th>Date and time</th>
      <th>Viewed</th>
      <th>  </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>  <input type="checkbox" class="form-control" id="full-name"> </td>
      <td>AP1 Application to change the register</td>
      <td>1 - Certified - AP1 Application to change the register.pdf</td>
      <td>08/07/2016 - 10:23:52</td>
      <td>No</td>
    </tr>
</tbody>
</table>
</form>


  </div>
</main>

{% endblock %}
